<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Clientes</title>
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
	<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
</head>

<body class="fondo">


	<div class="container">
		<div class="micontainer text-dark">
			<div th:insert="layouts/header :: header"></div>

			<h1 class="text-center m-5">Formulario de Carga de Cliente</h1>


			<div th:if="not ${modoEditar}">
				<div th:insert="layouts/formulario-cliente :: formulario-cliente"></div>
			</div>
			<div th:if="${modoEditar}">
				<div th:insert="layouts/formulario-cliente-editar :: formulario-cliente-editar"></div>
			</div>



			<h3 class="text-center">Lista de Clientes</h3><br>
			<div class="table-responsive text-center d-md-flex justify-content-center">
				<table class="table-info table-bordered">
					<tr>
						<th class="cprincipal bg-primary">Num Doc</th>
						<th>Tipo Doc</th>
						<th>Nombre y Apellido</th>
						<th>Email</th>
						<th>Fecha de Nac</th>
						<th>Fecha Ultima Compra</th>
						<th>Edad</th>
						<th>Telefono</th>
						<th>Datos Adicionales</th>
						<th>Editar</th>
						<th>Eliminar</th>
					</tr>
					<tr th:if="${clientes.empty}">
						<td colspan="11">No hay clientes cargados</td>
					</tr>
					<tr th:each="cli : ${clientes}">
						<td class="cprincipal bg-primary" th:text="${cli.nroDoc}"></td>
						<td th:text="${cli.tipoDoc}"></td>
						<td th:text="${cli.nombreApellido.toUpperCase()}"></td>
						<td th:text="${cli.email}"></td>
						<td th:text="${#temporals.format(cli.fechaNacimiento,'dd/MM/yyyy')}"></td>
						<td th:text="${#temporals.format(cli.fechaUltimaCompra,'dd/MM/yyyy')}"></td>
						<td th:text="${cli.getEdad()}"></td>
						<td th:text="|${cli.codigoAreaTel}-${cli.numTel}|"></td>
						<td th:text="${cli.getDatosAdicionales()}"></td>
						<td><a href="#" th:href="@{'/cliente/editar/'+${cli.nroDoc}}"><i
									class="fas fa-edit"></i></a></td>
						<td><a th:onclick="'javascript:confirmarEliminar(\''+${cli.nroDoc}+'\');'"><i
									class="fas fa-user-minus text-primary"></i></a></td>
					</tr>
				</table>
			</div>
		</div>

		<div th:insert="layouts/footer :: footer"></div>
	</div>

	<div class="modal fade" id="miModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Eliminar Cliente</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Desea eliminar este cliente?</p>
					
				</div>
				<input type="hidden" name="cliHiddenInp" id="IdCliHI">
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary" th:onclick="eliminarCliente()">Eliminar</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		function confirmarEliminar(dni) {
			$('#miModal').modal("show");
			$('#IdCliHI').val(dni);
		}
		function eliminarCliente(){
			var id = $('#IdCliHI').val();
			window.location = "eliminar/" + id;
		}
	</script>

	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript"
		src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript"
		src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>

</html>