<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Productos</title>
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
	<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
</head>

<body class="fondo">


	<div class="container">
		<div class="micontainer text-dark">
			<div th:insert="layouts/header :: header"></div>
			<h1 th:if="not ${productos.empty}" class="text-center m-5">LISTA DE PRODUCTOS</h1>
			<br>
			<div th:if="${productos.empty}" class="text-center m-5">
				<h1>No hay productos cargados</h1>
			</div>
			<div class="row d-flex justify-content-center">
				<div th:each="producto : ${productos}" class="col-md-4">
					<div class="card mb-5" style="width: 100%;">
						<div class="card-header">
							<img th:src="@{/img/prod.jpg}" alt="" class="container-fluid">
						</div>
						<div class="card-body">
							<p>Nombre: <span th:text="${producto.nombre}"></span></p>
							<p>Marca: <span th:text="${producto.marca}"></span></p>
							<p>Precio: <span th:text="${producto.precio}"></span></p>
							<p>Stock: <span th:text="${producto.stock}"></span></p>
							<div class="text-center">
								<a href="#" class="btn btn-success text-light"><i
										class="fas fa-shopping-cart"></i>Comprar</a>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
		<div th:insert="layouts/footer :: footer"></div>

	</div>



	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript"
		src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript"
		src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>